<h1>Fundinground #<%= @fundinground.id %></h1>

<p>
  <b>Series:</b>
  <%= @fundinground.series %>
</p>

<p>
  <b>Amount:</b>
  <%= @fundinground.amount %>
</p>

<p>
  <b>Currency:</b>
  <%= @fundinground.currency %>
</p>

<p>
  <b>Date:</b>
  <%= @fundinground.date %>
</p>

<p>
  <b>Entity receiver:</b>
  <%= @fundinground.entity_receiver_id %>
</p>

<p>
  <b>Investment:</b>
  <%= @fundinground.investment_id %>
</p>


