<h1>Entity #<%= @entity.id %></h1>

<p>
  <b>Name:</b>
  <%= @entity.name %>
</p>

<p>
  <b>Kind:</b>
  <%= @entity.kind %>
</p>

<p>
  <b>Location:</b>
  <%= @entity.location %>
</p>

<p>
  <b>Status:</b>
  <%= @entity.status %>
</p>

<p>
  <b>Perma:</b>
  <%= @entity.perma %>
</p>

<p>
  <b>Industry:</b>
  <%= @entity.industry_id %>
</p>


